/* all body design */

*{
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

.btn-primary{
    background-color: rgb(22, 1, 39);
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 30px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 900;
}


/* header area design */

.header{

    background-image: linear-gradient(to top, rgb(164, 85, 85),rgb(112, 59, 16)) ,url(../images/donation2.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    margin-bottom: 100px;
    
    
}

.header-area{
    text-align: center;
    padding-top: 100px;
    
}

.header-title{
    font-size: 50px;
    color: aliceblue;
    
}

.header-description{
    color: rgb(193, 215, 235);
    margin-top: 10px;

}

/* main area design  */

main{

    max-width: 1140px;
    margin:auto;
    /* background-color: bisque;  */

}




/* donate today styles */

.donate-today-container{
    text-align: center;
    padding: 100px;
    background-color: bisque ;
    margin-bottom: 100px;
}


.donate-today{
    text-align: center;
    /* margin-top: 100px; */
    
}

.donate-title{
    font-size: 50px;
}

/* box design  */



main .box-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 40px;
    
    
}

 .box-container .box{
    
    font-size: 25px;
    padding: 30px;
    background: rgb(23, 118, 121);
    border-radius: 5px ;
    box-shadow: 10px 5px 5px rgb(2, 15, 57);
    
}

.box-design{

    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    background: rgb(23, 118, 121);
    border-radius: 5px ;
    border: 5px solid rgb(222, 49, 49);
    color: rgba(212, 13, 13, 0.785);
    box-shadow: 10px 5px 5px rgb(77, 4, 92);

}


/* input filed design  */

.input-design{
    margin-top: 100px;
    width: 100%;
    height: 50px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    
}

/* plan design  */

.donate-plan-container .plan{
    text-align: center;
}

.donate-plan-flex{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 100px;

}

.donate-plan-flex .box-shadow{
    background: rgb(8, 182, 205);
    padding: 20px;
    box-shadow: 5px 5px  rgb(0, 217, 255);
}



.donate-description{
    margin-bottom: 50px;
}











